<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Input</title>
</head>
<body>

<h1>Analytics Bot </h1>

<h3>This bot can only reply to questions pertaining the table "FXLM Rollover Opportunities".<br/>
    Conjuncted questions, such as "What is the volume AND CC of Client John Ham?" cannot be answered.<br/><br/>

    If no answer is provided in a couple of minutes and you believe the question should be answered by this system, please reformulate. <br/>
    For example, the question "What is the John Ham's volume?" can be reformulated as "What is the volume of John Ham?".

</h3>


<form action="/dashboard/" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Go">
</form>
<p></p>

<!--confirming if variables are not empty, and returning what has been created-->
{% if tokenized %}
    <b>Tokenized:</b> {{ tokenized }}<br/>
    <b>Pure Question:</b> {{ pure_question }}<br/>
{% endif %}
{% if wh_word %}
    <b>wh:</b> {{wh_word}}<br/>
    <b>space:</b> {{spacy}}<br/>
    <b>pos:</b> {{pos}}<br/>
    <b>ner:</b> {{ner}}<br/>
{% endif %}

<p></p>
{% if html %}
    {{ html|safe }}
{% endif %}

{% if ner_diagram %}
    {{ ner_diagram|safe }}
{% endif %}


</body>
</html>