<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Input</title>
</head>
<body>

<h1>Analytics Bot </h1>

<h3>This bot can only reply to questions pertaining the table "FXLM Rollover Opportunities".<br/>
    Please explicitly declare the name of the field before the value. <br/>
    Questions such as "What is volume of John Ham?" cannot be answered. <br/>
    The correct question should be "What is volume of client John Ham?".<br/> <br/>

    Conjuncted questions, such as "What is the volume AND CC of Client John Ham?" cannot be answered.<br/><br/>

    If no answer is provided in a couple of minutes and you believe the question should be answered by this system, please reformulate. <br/>
    For example, the question "What is the client John Ham's volume?" can be reformulated as "What is the volume of client John Ham?".

</h3>


<form action="/dashboard/" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Go">
</form>

{% if pipeline_result %}
    <p>{{ pipeline_result }}</p>
{% endif %}




</body>
</html>