<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Input</title>
</head>
<body>

<!--confirming if variables are not empty, and returning what has been created-->
{% if tokenized %}
    Tokenized: {{ tokenized }}<br/>
    Pure Question: {{ pure_question }}<br/>
{% endif %}
{% if wh_word %}
    wh: {{wh_word}}<br/>
    space: {{spacy}}<br/>
    pos: {{pos}}<br/>
    ner: {{ner}}<br/>
{% endif %}

    <form action="/dashboard/" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Go">
    </form>

{% if html %}
    {{ html|safe }}
{% endif %}

{% if ner_diagram %}
    {{ ner_diagram|safe }}
{% endif %}
</body>
</html>